.mySwiper {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.fixed-size-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    position: relative; /* Añadir posición relativa para el posicionamiento absoluto del overlay */
}

.fixed-size-slide img {
    display: block;
    width: auto; /* Cambiar de 100% a auto para que se ajuste al tamaño real */
    height: auto; /* Cambiar de 100% a auto para que se ajuste al tamaño real */
    max-width: 100%; /* Añadir máximo ancho para evitar que la imagen sea más grande que el contenedor */
    max-height: 100%; /* Añadir máximo alto para evitar que la imagen sea más grande que el contenedor */
    object-fit: contain; /* Ajustar la imagen dentro del contenedor manteniendo la relación de aspecto */
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--terciary);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none; /* Para asegurar que el texto no interfiera con el control del slider */
}

/* Estilos para los puntos de paginación */
.swiper-pagination-bullet-active {
    background: var(--secondary);
}

/* Estilos para las flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
    color: var(--secondary);
}

/* Media query para pantallas menores de 500px */
@media (max-width: 500px) {
    .mySwiper {
        width: 100%;
        height: auto;
    }

    .fixed-size-slide {
        width: 100%;
        height: auto;
    }

    .fixed-size-slide img {
        width: 100%;
        height: auto;
    }
}

